form {
    max-width: 800px;
    min-width: 400px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input[required] {
    display: block;
    border-style: solid;
    border-color: red;
}
fieldset {
    background-color: rgb(192, 192, 192);
    padding: 1rem;
}
fieldset:hover {
    background-color: rgb(94, 94, 94);
}
form fieldset:first-child, fieldset:last-of-type {
    border-bottom-color: black;
    border-bottom-width: 5px;
}
button {
    background-color: black;
    color: white;
    border: none;
}