header {
    background-color: black;
    color: white;
    padding: 30px;
}
section {
    text-align: start;
    position: absolute;
    padding-left: 20%;
    padding-right: 20%;
    box-sizing: border-box;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    color: rgb(163, 163, 163);
    text-decoration-line:underline;
    text-underline-position:under;
    font-size: 2rem;
}
.imagen{
    width: 40vh;
    height: 40vh;
    right: 0px;
    float: right;
    margin-right: 20px;
    margin-bottom: 20px;
}
input {
    background-color: rgb(110, 110, 110);
    border: none;
    margin-bottom: 10px;
}
textarea {
    background-color: rgb(110, 110, 110);
    height: 150px;
    margin-bottom: 10px;
}
label {
    font-weight: bold; 
}
form {
    display: flex;
    flex-direction: column;
}
button {
    background-color: black;
    color: white;
    border:none;
    align-self: flex-start;
    margin-bottom: 10px;

}