.lista li:last-child {
  background-color: rgb(0, 0, 255);
}
.lista li:nth-of-type(odd) {
  text-decoration-line: underline;
  text-decoration-color: rgb(0, 255, 0);
}
.lista li {
  display: inline;
  padding-left: 10px;
}
.lista li:first-child::after {
  content:'🥳';
}
.lista li:nth-child(2)::after {
  content:'😛';
}
.lista li:nth-child(3)::after {
  content:'😒';
}
.lista li:nth-child(4)::after {
  content:'😋';
}
.lista li:nth-child(5)::after {
  content:'🥸';
}
.lista li:nth-child(6)::after {
  content:'🧐';
}
[lang='en'] {
  font-size: 2rem;
  text-transform: uppercase;
}
#provincias li {
  list-style: upper-roman;
}
#provincias li:nth-child(2) {
  list-style: none;
}